USE [master]
GO
/****** Object:  Database [userApi]    Script Date: 08/04/2023 20:09:49 ******/
CREATE DATABASE [userApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'userApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\userApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'userApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\userApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [userApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [userApi]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/04/2023 20:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08/04/2023 20:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](max) NOT NULL,
	[userGmail] [nvarchar](max) NOT NULL,
	[userPassword] [nvarchar](max) NOT NULL,
	[userTypeGender] [int] NOT NULL,
	[userGenderId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userGender]    Script Date: 08/04/2023 20:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userGender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[typeGender] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_userGender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230405234303_InitialCreate', N'7.0.4')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [userName], [userGmail], [userPassword], [userTypeGender], [userGenderId]) VALUES (27, N'Fernando Suarez', N'fern@gmail.com', N'4235435Fer*', 1, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[userGender] ON 

INSERT [dbo].[userGender] ([Id], [typeGender]) VALUES (1, N'Male')
INSERT [dbo].[userGender] ([Id], [typeGender]) VALUES (2, N'Female')
INSERT [dbo].[userGender] ([Id], [typeGender]) VALUES (3, N'others')
SET IDENTITY_INSERT [dbo].[userGender] OFF
GO
/****** Object:  Index [IX_User_userGenderId]    Script Date: 08/04/2023 20:09:50 ******/
CREATE NONCLUSTERED INDEX [IX_User_userGenderId] ON [dbo].[User]
(
	[userGenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_userGender_userGenderId] FOREIGN KEY([userGenderId])
REFERENCES [dbo].[userGender] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_userGender_userGenderId]
GO
USE [master]
GO
